@import '../../styles/colors.scss';

.navbar {
  background-color: $topNavBackground;
  justify-content: space-between;
}

.navbarBrand {
  cursor: pointer;
}

.navbarBrandFirstLetter {
  color: $primaryPurple;
}

.navbarBrandOtherLetters {
  color: $color100;
}

.filler {
  flex: 1;
}

.sidebarToggle {
  width: 56px;
  height: 40px;
}
