$black100: #7a7a7a;
$black200: #666666;
$black300: #575757;
$black400: #414141;
$black500: #303030;
$black600: #252525;
$black700: #121212;
$black: $black700;

$white: #c9f3f3;
$color100: #98d1d1;
$color200: #66b0b0;
$color300: #2b908f;
$color400: #22797f;
$color500: #1e646d;
$color600: #1c4e59;
$color700: #193a45;
$color800: #142730;
$color900: #0d161b;

$menuIcon: $color200;
$menuIconHover: $color100;

$regularFontColor: #adadad;

$blueLink: #0084FF;
$blueLinkHover: #0056b3;

$redError: #b83a3a;

$blackBackground: $black;

$primaryPurple: $color200;
$primaryPurpleBtnActive: $color500;

$topNavBackground: #1d1d1d;

$sideBarBackground: $black;

$cardBackground: #1e1e1e;
