.moreInfo {
  margin-left: 20px;
  font-size: 14px;
}

.numDays {
  width: 70px;
}

.applyBtn {
  margin-left: 20px;
}

.topChartTitle {
  margin-top: 30px;
}

.bottomChartTitle {
  margin-top: 40px;
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;
}
