@import '../../styles/colors.scss';

.sidebar {
  background-color: $sideBarBackground !important;
}

.navItem {
  cursor: pointer;

  &.active {
    .faIcon {
      color: $color100;
    }
  }

  &:hover {
    .faIcon {
      color: $color100;
    }
  }

  .faIcon {
    color: $color200;
  }

  span {
    margin-left: 10px;
  }
}
