@import '../../styles/colors.scss';

.container {
  cursor: pointer;
  margin-bottom: 20px;

  &:hover {
    background-color: $black600;

    .icon {
      color: $menuIconHover;
    }
  }

  .icon {
    color: $menuIcon;
    margin-right: 20px;
  }
}
