@import '../../styles/colors.scss';

.main-container .btn-primary {
  background-color: $primaryPurple;
  border-color: $primaryPurple;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: $primaryPurpleBtnActive;
  border-color: $primaryPurpleBtnActive;
}
