@import './styles/colors.scss';

body {
  margin: 0;
  background: $blackBackground;
  color: $regularFontColor;
  height: 100vh;
}

a:hover {
  text-decoration: none;
}

#root {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f14d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(184, 184, 184);
}

.card {
  background-color: $cardBackground;
}

.page-title {
  margin-bottom: 30px;
}

a {
  color: $color200;

  &:hover {
    color: $color300;
  }
}
